@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth;
  scroll-padding-top: 4rem;
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  h1 {
    font-weight: 800;
  }

  h3 {
    font-size: 2em;
    line-height: 1.1;
  }
}
